{% extends "::tpanel.html.twig" %}

{% block stylesheets %}
    {% stylesheets "@TritoqTpanelBundle/Resources/public/css/base.css" %}
    <link type="text/css" rel="stylesheet" media="all" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body%}

{% endblock %}

{% block bar %}
    <nav class="menu">
        <div class="icon">
           <a href="{{ path('root') }}" class="home"> <span class="glyphicon glyphicon-th"></span></a>
        </div>
        <ul>
            <li><a class="{{ 'vhost' in app.request.get('_route') ? 'selected' : 'none' }}" href="{{ path('vhost') }}">Vhosts</a></li>
            <li><a class="{{ 'template' in app.request.get('_route') ? 'selected' : 'none' }}" href="{{ path('templates') }}">Templates</a></li>
            <li><a class="{{ 'email' in app.request.get('_route') ? 'selected' : 'none' }}" href="{{ path('email') }}">Emails</a></li>
            <li><a class="{{ 'user' in app.request.get('_route') ? 'selected' : 'none' }}" href="{{ path('user') }}">Usuários</a></li>
            <li><a  href="{{ path('tpanel_logout') }}">Sair</a></li>
        </ul>
    </nav>
{% endblock %}